<nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand text-light" >sorting waste</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="showMachine()" class="nav-link active text-light" aria-current="page">show machine</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button (click)="logout()" class="btn btn-outline-danger" type="submit">log out</button>
      </form>
    </div>
  </div>
</nav>
