.header{
  width: 25%;
  margin: 30px auto;
  color: #0f8f64;
  font-family: auto;
  text-transform: capitalize;
  border-left: 2px solid #d4e1b25e;
  border-bottom: 2px solid #c9bcbcd6;
  padding: 3px;
  box-shadow: 4px 4px 11px 1px #286c2b57;
}
.alert{
  width: 72%;
  left: 200px;
  top: 20px;
  position: absolute;
  height: 57px;
  color: #142214;
  border: none;
  background-color: #59ebbfcf;
  font-size: 20px;
}
.delete{
  width: 72%;
  left: 200px;
  top: 20px;
  position: absolute;
  height: 57px;
  color: #f7f7f7;
  border: none;
  background-color: rgba(230, 84, 91, 0.651);
  font-size: 20px;
}
